<!-- import your comments system
{{ template "_internal/disqus.html" . }}
-->

<script src="https://giscus.app/client.js"
        data-repo="oO0O0O0/blog"
        data-repo-id="R_kgDONmOgPQ"
        data-category="[ضع اسم القسم هنا]"
        data-category-id="[ضع معرف القسم هنا]"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ar"
        crossorigin="anonymous"
        async>
</script>